.liContentList{
  list-style: none;
  margin-bottom: 40px;
  height: 87px;
  background-color: var(--gray1);
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 4px;
}

.entrance{
  border-left:4px solid var(--colorSecondary);
}

.expense{
  border-left:4px solid var(--gray2);
}


.liContentListMain{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 18px;
}

.liContentListMain h3{
  margin: 0;
  font: var(--title3);
  color: var(--gray4);
  margin-bottom: 15px;
}

.liContentListMain div{
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: flex-start;
}

.liContentListMain div span{
  font:var(--body);
  color: var(--gray4);
  padding-top: 6px;
}

.liContentListMain div figure{
  display: flex;
  align-items: flex-start;
  width: 22px;
  height: 22px;
  margin-top: 0;
  background: var(--gray2);
  border-radius: 2.46px;
  cursor: pointer;
}

.liContentListMain div figure:hover{
  background: var(--gray4);
}

.liContentListMain div figure img{
  width: 10px;
  padding: 6px;
}

.liContentListMain div figure img:first-child:hover{
  display: none;
}

.liContentListType span{
  font:var(--body);
  color: var(--gray5);
  padding-top: 15px;
}